.subscribe-button {
      background-color: rgb(240, 0, 0);
      color: white;
      border: none;
      height: 36px;
      width: 100;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 8px;
      transition: opacity 0.15s;
    }
  
    /* .subscribe-button:hover{
      background-color: rgb(141, 26, 170);
    } */
    /* .subscribe-button:active{
      background-color: blanchedalmond;
    } */
    .subscribe-button:hover {
      opacity: 0.7;
    }
  
    .join-button {
      background-color: white;
      color: blue;
      width: 50;
      height: 36;
      border-color: blue;
      border-radius: 3px;
      border-style: solid;
      cursor: pointer;
      margin-right: 8px;
    }
  
    .join-button:hover {
      background-color: blue;
      color: white;
    }
  
    .tweet-button {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right: 16px;
      border: none;
      color: white;
      background-color: rgb(2, 158, 255);
      border-radius: 25px;
      font-size: 15px;
      cursor: pointer;
      transition: box-shadow 0.15s;
    }
  
    .tweet-button:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  
    }